/* Component 5 Stylesheet ==========================================*/
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


/* NAVIGATION ==========================================*/

header{
    display : block;
    width: 100%;
    font-family: Helvetica, sans-serif;
    padding: 3em;
}

nav{
    list-style: none;
    padding: .6em 0;
}

nav ul {
    margin-right: 100px;
    display: inline-block;
}

nav ul li{
    margin-left: 2.75em;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #303334;
}

nav li{
    font-family: Helvetica;
    font-size: 1rem;
    float: left;
    padding-top: 0.10rem;
    padding-left: .3em;
    text-align: left;
    font-weight: 800;
}

nav a {
    text-decoration: none;
    display: inline-block;
}

ul {
    margin-left: 2.7em;
}

img {
    float: left;
}

a:active{
    color: #31ccff;
}

a:hover {
    color: #31ccff;
}

a:focus{
    color: #31ccff;
}

h2 {
    font-size: 1.35em;
}

h1{
    float: left;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 1.75em;
    padding-left: 1em;
}

/* SOCIAL MEDIA ==========================================*/
#social li{
    position: relative;
    display: block;
    float: right;
    margin: 0 5px;
    font-family: FontAwesome;
}

#social li a {
    position: relative;
    background: #32b8df;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-indent: -9999px;
}

#social a::before{
    display: inline-block;
    position: absolute;
    font: 1.65rem FontAwesome;
    text-indent: 0;
    margin-left: 1rem;
    color: #fff;
    top: .45em;
    left: -.15em;
}

a[href*=facebook]::before {content: "\f09a";}
a[href*=google-plus]::before {content: "\f0d5";}
a[href*=twitter]::before {content: "\f099";}
a[href*=pinterest]::before {content: "\f0d2";}
a[href*=instagram]::before {content: "\f16d";}