<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<!-- Component -->

<header>
	<a href="#"><img src="images/logo.jpg" alt="running club logo" />
		<h1>RUNNING CLUB</h1></a>


	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Contact</a></li>

		</ul>

	<ul>
		<li><a href="https://www.facebook.com">Facebook</a></li>
		<li><a href="https://plus.google.com">Google Plus</a></li>
		<li><a href="https://twitter.com">Twitter</a></li>
		<li><a href="https://www.pinterest.com/">Pinterest</a></li>
		<li><a href="https://www.instagram.com/">Instagram</a></li>
	</ul>
	</nav>
</header>
<!-- End Component -->

</body>
</html>