<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
</head>
<body>

	<!-- Component -->

	<header>
		<img src="images/logo.jpg" alt="running club logo" />
		<h1>RUNNING CLUB</h1>


		<nav>
			<ul>
				<li class="current"><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Contact</a></li>

			</ul>
		</nav>

		<ul>
			<li><a href="https://www.facebook.com">
				<i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
				<i class="fa fa-circle fa-stack-3x"> </i></a></li>
			<li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
			<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
			<li><i class="fa fa-pinterest-square" aria-hidden="true"></i></li>
			<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
			<!--<li><a href="https://www.facebook.com"</a></li>
			<li><a href="https://plus.google.com"</a></li>
			<li><a href="https://twitter.com"</a></li>
			<li><a href="https://www.pinterest.com/"</a> </li>
			<li><a href="https://www.instagram.com/"</a> </li>-->

		</ul>
	</header>
	<!-- End Component -->
	
</body>
</html>