<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<!-- Component -->

<header>
	<a href="#"><img src="images/logo.jpg" alt="running club logo" />
		<h1>RUNNING CLUB</h1></a>


	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Contact</a></li>

		</ul>
	</nav>

	<ul>
		<li><a href="https://www.facebook.com" class="\f09a"></a></li>
		<li><a href="https://plus.google.com" class="\f0d5"</a></li>
		<li><a href="https://twitter.com"</a>Twitter</li>
		<li><a href="https://www.pinterest.com/"</a>Pinterest</li>
		<li><a href="https://www.instagram.com/"</a>Instagram</li>
	</ul>
</header>
<!-- End Component -->

</body>
</html>