<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
</head>
<body>

	<!-- Component -->
	<footer>
		<nav>
			<h5>Information</h5>
			<ul>
				<li>About</li>
				<li>Delivery Information</li>
				<li>Privacy Policy</li>
				<li>Terms & Conditions</li>
				<li>Contact Us</li>
				<li>Blog</li>
			</ul>
		</nav>

		<nav>
			<h5>Categories</h5>
			<ul>
				<li>Sound Devices</li>
				<li>Mobile Phone</li>
				<li>Security Systems</li>
				<li>Cameras</li>
				<li>Computers</li>
				<li>Home Appliances</li>
				<li>Brands</li>
			</ul>
		</nav>

		<nav>
			<h5>My Account</h5>
			<ul>
				<li>My Account</li>
				<li>Order History</li>
				<li>Wish List</li>
				<li>Gift Vouchers</li>
				<li>Affiliates</li>
				<li>Site Map</li>
			</ul>
		</nav>

		<nav class="contactus">
			<h5>Contact Us</h5>
			<address>
				<i class="fa fa-map-marker fa-lg"></i>
				<a href="//www.google.com/maps/?q=4578 Marmora road, Glasgow D04 89 GR" target="_blank">
				4578 Marmora road,<br />
				Glasgow D04 89 GR</a>
			</address>

			<address>
				<i class="fa fa-phone fa-lg"></i>
				<a href="callto:800-2345-6790">800-2345-6790</a>
			</address>

			<address>
				<i class="fa fa-envelope-o fa-lg"></i>
				<a href="mailto:info@demolink.org">info@demolink.org</a>
			</address>

				<ul class="socialmedia">
					<li>
						<a href='//www.facebook.com' target="_blank">
							<i class="fa fa-facebook fa-lg"></i>
						</a>
					</li>
					<li>
						<a href='//www.twitter.com' target="_blank">
							<i class="fa fa-twitter fa-lg"></i>
						</a>
					</li>
					<li>
						<a href='//www.instagram.com' target="_blank">
							<i class="fa fa-instagram fa-lg"></i>
						</a>
					</li>
					<li>
						<a href='//www.google.com' target="_blank">
							<i class="fa fa-google-plus fa-lg"></i>
						</a>
					</li>
				</ul>


		</nav>
	</footer>

	<footer>
		<p>Powered By OpenCart Home Electronics &copy; 2016</p>

	</footer>
	<!-- End Component -->
	
</body>
</html>