<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body class="wrapper">

<!-- Component -->

<footer>
	<section class="information">
		<h5>Information</h5>
		<ul>
			<a href="#" target="_blank"><li>About</li></a>
			<a href="#" target="_blank"><li>Delivery Information</li></a>
			<a href="#" target="_blank"><li>Privacy Policy</li></a>
			<a href="#" target="_blank"><li>Terms & Conditions</li></a>
			<a href="#" target="_blank"><li>Contact Us</li></a>
			<a href="#" target="_blank"><li>Blog</li></a>
		</ul>
	</section>

	<section class="categories">
		<h5>Categories</h5>
		<ul>
			<a href="#" target="_blank"><li>Sound Devices</li></a>
			<a href="#" target="_blank"><li>Mobile Phone</li></a>
			<a href="#" target="_blank"><li>Security Systems</li></a>
			<a href="#" target="_blank"><li>Cameras</li></a>
			<a href="#" target="_blank"><li>Computers</li></a>
			<a href="#" target="_blank"><li>Home Appliances</li></a>
			<a href="#" target="_blank"><li>Brands</li></a>
		</ul>
	</section>

	<section class="myaccount">
		<h5>My Account</h5>
		<ul>
			<a href="#" target="_blank"><li>My Account</li></a>
			<a href="#" target="_blank"><li>Order History</li></a>
			<a href="#" target="_blank"><li>Wish List</li></a>
			<a href="#" target="_blank"><li>Gift Vouchers</li></a>
			<a href="#" target="_blank"><li>Affiliates</li></a>
			<a href="#" target="_blank"><li>Site Map</li></a>
		</ul>
	</section>

	<section class="contactus">
		<h5>Contact Us</h5>
		<address>
			<i class="fa fa-map-marker fa-lg"></i>
			<a href="#" target="_blank">4578 Marmora road,<br>Glasgow D04 89 GR</a>
		</address>

		<address>
			<i class="fa fa-phone fa-lg"></i>
			<a href="callto:800-2345-6790">800-2345-6790</a>
		</address>

		<address>
			<i class="fa fa-envelope-o fa-lg"></i>
			<a href="mailto:info@demolink.org">info@demolink.org</a>
		</address>

		<ul class="socialmedia">
			<li>
				<a href='//www.facebook.com' target="_blank">Facebook</a>
			</li>
			<li>
				<a href='//www.twitter.com' target="_blank">Twitter</a>
			</li>
			<li>
				<a href='//www.instagram.com' target="_blank">Instagram</a>
			</li>
			<li>
				<a href='//www.google.com' target="_blank">Google Plus</a>
			</li>
		</ul>
	</section>

</footer>
	<ul>
		<li class="copyright">Powered By OpenCart Home Electronics &copy; 2016</li>
	</ul>


</body>
</html>