<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->

	<section id="cta">

		<article>
			<h2>Stained Glass</h2>
			<p>Stained Glass Studio provides a personalised services which caters for large and small commissions;
				providing sales, custom design, advice, repairs and restoration.
			</p>
			<p><a href="#" target="_self">More</a></p>
		</article>


		<article>
			<img src="images/page-1_img01.jpg" alt="red stained glass image">
			<h3>Beautify Your Home</h3>
			<p>Nothing can transform a room and create magic like colourful stained glass/lead light windows.
			</p>
			<p><a href="#" target="_self">read more</a></p>
		</article>


		<article>
			<img src="images/page-1_img02.jpg" alt="orange stained glass image">
			<h3>Doors &amp; Windows</h3>
			<p>Beautify your doors and windows with intricate designs that bring life to your glass panels.
			</p>
			<p><a href="#" target="_self">read more</a></p>
		</article>


		<article>
			<img src="images/page-1_img03.jpg" alt="flower stained glass image">
			<h3>Mosaics</h3>
			<p>Glass mosaics offer a unique and beautiful means to decorate your home or garden.
			</p>
			<p><a href="#" target="_self">read more</a></p>
		</article>


		<article>
			<img src="images/page-1_img04.jpg" alt="purple stained glass image">
			<h3>Commercial Stained Glass Solutions</h3>
			<p>The Stained Glass can meet all your commercial lead light needs.
			</p>
			<p><a href="#" target="_self">read more</a></p>
		</article>


	</section>
	<!-- End Component -->

</body>
</html>