<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Keri Ritenour</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>



</head>
<body>

	<!-- Component -->
<section id="cta">


	<article>
	<h5>news <strong>&amp; events</strong></h5>
	<img src="images/home1.jpg" alt="bottle on beach">
		<p>Donec sit amet felis orci. Fuscet mollis lectus. Duis in mattis nibh.
			Mauris tempus, massa non auct consectetur, nulla est.
		</p>
		<p><a href="#" target="_self">More</a></p>
	</article>


	<article>
		<h5>new <strong> destinations</strong></h5>
			<img src="images/home2.jpg" alt="beach lounging">
		<p>Donec sit amet felis orci. Fuscet mollis lectus. Duis in mattis nibh.
			Mauris tempus, massa non auct consectetur, nulla est.
		</p>
		<p><a href="#" target="_self">More</a></p>
	</article>


	<article>
		<h5>popular <strong> tours</strong></h5>
			<img src="images/home3.jpg" alt="couple kissing while lounging on beach">
		<p>Donec sit amet felis orci. Fuscet mollis lectus. Duis in mattis nibh.
			Mauris tempus, massa non auct consectetur, nulla est.
		</p>
		<p><a href="#" target="_self">More</a></p>
	</article>


	<article>
		<h5>booking <strong> online</strong></h5>
			<img src="images/home4.jpg" alt="items laying on beach">
		<p>Donec sit amet felis orci. Fuscet mollis lectus. Duis in mattis nibh.
			Mauris tempus, massa non auct consectetur, nulla est.
		</p>
		<p><a href="#" target="_self">More</a></p>
	</article>


</section>
	<!-- End Component -->
	
</body>
</html>